/* Styles for h1 */
h1 {
    padding: 100px 5px 15px 20px; /* Top, right, bottom, left padding */
    font-family: arial; /* Font family */
    font-size: 32px; /* Font size */
    color: aliceblue; /* Font color */
    margin: 10px; /* Margin around the element */
}

/* Styles for h2 */
h2 {
    font-family: arial; /* Font family */
    font-size: 24px; /* Font size */
    color: aliceblue; /* Font color */
    margin: 10px; /* Margin around the element */
}

/* Styles for h3 */
h3 {
    margin-inline-start: 10px; /* Start margin for inline content */
    padding-top: 20px; /* Top padding */
    margin-left: 20px; /* Left margin */
    font-family: arial; /* Font family */
    font-size: 11px; /* Font size */
    color: aliceblue; /* Font color */
}

/* Styles for h4 */
h4 {
    margin-top: 50px; /* Top margin */
    margin-left: 450px; /* Left margin */
    font-family: arial; /* Font family */
    font-size: 32px; /* Font size */
    color: aliceblue; /* Font color */
}

/* Styles for h5 */
h5 {
    font-family: arial; /* Font family */
    font-size: 12px; /* Font size */
    color: rgb(12, 12, 13); /* Font color */
}

/* Styles for h6 */
h6 {
    margin-inline-start: 10px; /* Start margin for inline content */
    font-family: arial; /* Font family */
    font-size: 15px; /* Font size */
    color: rgb(12, 12, 13); /* Font color */
    margin-bottom: 1px; /* Bottom margin */
}

/* Styles for black rectangle */
.black-rectangle {
    width: 1200px; /* Width of the rectangle */
    height: 80px; /* Height of the rectangle */
    background-color: rgb(35, 34, 34); /* Background color */
}

/* Styles for gray rectangle */
.gray-rectangle {
    width: 1200px; /* Width of the rectangle */
    height: 120px; /* Height of the rectangle */
    background-color: rgb(85, 84, 84); /* Background color */
}

/* Styles for gray rectangle photos */
.gray-rectangle-photos {
    width: 1200px; /* Width of the rectangle */
    height: 500px; /* Height of the rectangle */
    background-color: rgb(85, 84, 84); /* Background color */
}

/* Styles for white rectangle */
.white-rectangle {
    width: 1200px; /* Width of the rectangle */
    height: 400px; /* Height of the rectangle */
    background-color: rgb(218, 212, 212); /* Background color */
}

/* Styles for container */
.container {
    display: flex; /* Use flexbox layout */
    align-items: center; /* Align items vertically */
}

/* Styles for container elements */
.container img,
.container select,
.container input[type="text"],
.container button {
    margin-right: 10px; /* Right margin for container elements */
}

/* Styles for fieldset */
fieldset {
    width: 300px; /* Width of the fieldset */
    margin-right: 20px; /* Right margin */
}

/* Styles for cmdSearch button */
#cmdSearch {
    background-color: goldenrod; /* Background color */
    border: none; /* No border */
    color: gold; /* Text color */
    width: 30px; /* Width of the button */
    height: 30px; /* Height of the button */
    font-size: 7px; /* Font size */
    cursor: pointer; /* Cursor style */
}

/* Styles for cmdlogin button */
#cmdlogin {
    background-color: goldenrod; /* Background color */
    margin-left: 350px; /* Left margin */
    border: none; /* No border */
    color: rgb(19, 16, 2); /* Text color */
    width: 70px; /* Width of the button */
    height: 30px; /* Height of the button */
    font-size: 12px; /* Font size */
    font-family: arial; /* Font family */
    border-radius: 5px; /* Border radius */
    cursor: pointer; /* Cursor style */
}

/* Styles for cmdWatchlist button */
#cmdWatchlist {
    margin-top: 10px; /* Top margin */
    margin-inline-start: 20px; /* Start margin */
    background-color: rgb(18, 52, 243); /* Background color */
    border: none; /* No border */
    color: rgb(255, 255, 255); /* Text color */
    width: 200px; /* Width of the button */
    height: 30px; /* Height of the button */
    font-size: 13px; /* Font size */
    cursor: pointer; /* Cursor style */
}

/* Styles for txtA input */
#txtA {
    width: 500px; /* Width of the input field */
}
